* {
    margin: 0;
	padding: 0;
}

.index {
	height: 97vh;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,
	0,
	0,
	0.5)), url(../img/img-site/enfants-afrique-blog.webp);
	background-repeat: no-repeat;
	background-size: cover;
}

.container {  
    padding-top: 20px;
    padding-bottom: 20px;
}

.img {
    width: 230px;
    height: 230px;
}

.background-img {
    height: 450px;
    width: 800px;
    margin: 5% auto;
    padding:20px;
    border: 1px solid #2a3cad;
    border-radius: 4px;
    box-shadow: 0px 0px 5px #2a3cad;
    position: relative;
    background-color: transparent;
    backdrop-filter: blur(30px);
    color: #fff;
    text-transform: uppercase;
}

.background-img h2 {
    margin-top: 2%;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 10px;
}

.background-img h1 {
    text-align: center;
    margin-top: 43%;
    font-size: 3rem;
    letter-spacing: 13px;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    background: #111845a6;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 20px 50px rgb(23, 32, 90);
    border: 2px solid #2a3cad;
    color: white;
    padding: 20px;
}

.box:before {
    content: '';
    position:absolute;
    top:0;
    left:-100%;
    width:100%;
    height:100%;
    background: rgba(255,255,255,0.1);
    transition:0.5s;
    pointer-events: none;
}

.box:hover:before {
    left:-50%;
    transform: skewX(-5deg);
}

.box .content {
    position:absolute;
    top:15px;
    left:15px;
    right:15px;
    bottom:15px;
    border:1px solid #f0a591;
    padding:20px;
    text-align:center;
    box-shadow: 0 5px 10px rgba(9,0,0,0.5);
    
}

.box span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
    
}

.box span:nth-child(1) {
    transform:rotate(0deg);
}

.box span:nth-child(2) {
    transform:rotate(90deg);
}

.box span:nth-child(3) {
    transform:rotate(180deg);
}

.box span:nth-child(4) {
    transform:rotate(270deg);
}

.box span:before {
    content: '';
    position: absolute;
    width:100%;
    height: 2px;
    background: #50dfdb;
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
    transform:scaleX(0);
    transform-origin: left;
    }
    50% {
    transform:scaleX(1);
    transform-origin: left;
    }
    50.1% {
    transform:scaleX(1);
    transform-origin: right;
    }
    100% {
    transform:scaleX(0);
    transform-origin: right;
    }
}

/******* DRAPEAUX ET POSITION TEXTES *******/

.french-flag {
    position: absolute;
    width: 100px;
    height: 70px;
    top: 40%;
    left: 10%;
    cursor: pointer;
}

.p-french-haut {
    position: absolute;
    width: 80px;
    height: 60px;
    top: 30%;
    left: 11%;
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
}

.p-english-bas{
    position: absolute;
    width: 80px;
    height: 60px;
    top: 54%;
    left: 11%;
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
}

.english-flag {
    position: absolute;
    width: 100px;
    height: 70px;
    top: 40%;
    right: 8%;
    cursor: pointer;
}

.p-english-haut {
    position: absolute;
    width: 80px;
    height: 60px;
    top: 30%;
    right: 9%;
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
}

.p-french-bas {
    position: absolute;
    width: 80px;
    height: 60px;
    top: 55%;
    right: 9%;
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
}

/******* IMG ANIMéES EN VIDéO *******/

#myVideo {
    display: none;
}

/******* LOADING SPINNER 2s *******/

#loadingSpinner {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.lds-spinner {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #000;
}

.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}

@keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}