* {
    margin: 0;
	padding: 0;
}

.index {
	height: 97vh;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,
	0,
	0,
	0.5)), url(../img/img-site/enfants-afrique-blog.webp);
	background-repeat: no-repeat;
	background-size: cover;
}

.img {
    width: 230px;
    height: 230px;
}

/******* BOX IMAGE ANIMéE *******/

.background-img {
    height: 450px;
    width: 800px;
    margin: 5% auto;
    padding:20px;
    border: 1px solid #2a3cad;
    border-radius: 4px;
    box-shadow: 0px 0px 5px #2a3cad;
    position: relative;
    background-color: transparent;
    backdrop-filter: blur(30px);
    color: #fff;
    text-transform: uppercase;
}

.background-img h2 {
    margin-top: 2%;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 10px;
}

.background-img h1 {
    text-align: center;
    margin-top: 43%;
    font-size: 3rem;
    letter-spacing: 13px;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    background: #111845a6;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 20px 50px rgb(23, 32, 90);
    border: 2px solid #2a3cad;
    color: white;
    padding: 20px;
}

.box:before {
    content: '';
    position:absolute;
    top:0;
    left:-100%;
    width:100%;
    height:100%;
    background: rgba(255,255,255,0.1);
    transition:0.5s;
    pointer-events: none;
}

.box:hover:before {
    left:-50%;
    transform: skewX(-5deg);
}

.box .content {
    position:absolute;
    top:15px;
    left:15px;
    right:15px;
    bottom:15px;
    border:1px solid #f0a591;
    padding:20px;
    text-align:center;
    box-shadow: 0 5px 10px rgba(9,0,0,0.5);
    
}

.box span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
    
}

.box span:nth-child(1) {
    transform:rotate(0deg);
}

.box span:nth-child(2) {
    transform:rotate(90deg);
}

.box span:nth-child(3) {
    transform:rotate(180deg);
}

.box span:nth-child(4) {
    transform:rotate(270deg);
}

.box span:before {
    content: '';
    position: absolute;
    width:100%;
    height: 2px;
    background: #50dfdb;
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
    transform:scaleX(0);
    transform-origin: left;
    }
    50% {
    transform:scaleX(1);
    transform-origin: left;
    }
    50.1% {
    transform:scaleX(1);
    transform-origin: right;
    }
    100% {
    transform:scaleX(0);
    transform-origin: right;
    }
}

/******* DRAPEAUX ET POSITION TEXTES *******/

.french-flag {
    position: absolute;
    width: 100px;
    height: 70px;
    top: 40%;
    left: 10%;
    cursor: pointer;
}

.p-french-haut {
    position: absolute;
    width: 80px;
    height: 60px;
    top: 30%;
    left: 11%;
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
}

.p-english-bas{
    position: absolute;
    width: 80px;
    height: 60px;
    top: 54%;
    left: 11%;
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
}

.english-flag {
    position: absolute;
    width: 100px;
    height: 70px;
    top: 40%;
    right: 8%;
    cursor: pointer;
}

.p-english-haut {
    position: absolute;
    width: 80px;
    height: 60px;
    top: 30%;
    right: 9%;
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
}

.p-french-bas {
    position: absolute;
    width: 80px;
    height: 60px;
    top: 55%;
    right: 9%;
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
}

/******* OUVERTURE VIDéO *******/

.video-container {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 50%;
    overflow: hidden;
}

#videoContainer1 {
    top: 80px;
    left: -11%;
    z-index: 8000;
}

#videoContainer2 {
    top: 80px;
    left: 66%;
    z-index: 8000;
}

.video-container video {
    width: 90%;
    height: 90%;
} */

/******* LOADING SPINNER *******/

.loading-spinner {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.spinner-container {
    position: relative;
    width: 64px;
    height: 64px;
}

.spinner {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 64px;
    height: 64px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}