/*------------------------------------------------------*/
/******* 				CODE GÉNÉRAL			   ******/
/*------------------------------------------------------*/

@import url('http://fonts.googleapis.com/css?family=Varela+Round');
@import url('http://fonts.googleapis.com/css?family=Lato');
@import url('http://fonts.googleapis.com/css?family=Allerta+Stencil');
@import url('http://fonts.googleapis.com/css?family=Raleway:300');
@import url('https://fonts.googleapis.com/css2? family= Source+Sans+Pro:wght@200 & display=swap');

body {
	margin: 0;
	padding: 0;
    background: linear-gradient(to right, #0ebcf1, #cceff0);
	font-family: 'Varela Round', sans-serif;
}

.header-titre {
	display: flex;
	justify-content: center;
	align-items: center;
	width: auto;
	height: 100px;
	background-color: #fafafa;
}

.header-titre h1 {
    font-family: 'Source Sans Pro', sans-serif;
	font-size: 2.5rem;
	font-weight: 600;
	color: #474141;
}

figure {
	background-color: #fafafa;
    border: thin #696969 solid;
    padding: 10px;
    max-width: 500px;
    margin: auto;
}

figcaption {
    background-color: #7a6969;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

a {
	text-decoration: none;
}

/*------------------------------------------------------*/
/*******				 HEADER					   ******/
/*------------------------------------------------------*/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to right, #0ebcf1, #cceff0);
    padding: 10px 0;
    font-family: 'Allerta Stencil', sans-serif;
    z-index: 10;
}

.header-flag {
	width: 30px;
    height: 30px;
	margin-right: 60px;
}

.logo-asso {
    width: 60px;
    height: 60px;
    margin-right: 50px;
}

.logo-asso:hover {
    transform: scale(1.2);
    transition-duration: .5s;
	cursor: pointer;
}

.logo-page-courante {
	filter: opacity(1) drop-shadow(0 0 0 red); 
	width: 60px;
    height: 60px;
    margin-right: 50px;
}

.page-courante {
	color: #9e026f;
	font-size: 1.4rem;
	font-weight: 900;
}


nav {
    display: flex;
    justify-content: center;
}

.navbar-ul {
    background: linear-gradient(to right, #0ebcf1, #cceff0);
    box-shadow: 0 10px 20px #00000030, 0 6px 6px #0000003b;
    height: 70px;
    width: 100%;
    border-radius: 5px;
    text-transform: uppercase;
    list-style: none;
    text-shadow: 0 10px 20px #00000030, 0 6px 6px #0000003b;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    display: block;
    color: #474141;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 10px;
    transition: all 0.3s ease-in-out;
    border-radius: 30px;
	text-decoration: none;
}

nav ul li a:hover {
    background-color: #fafafa;
}

/*------------------------------------------------------*/
/*******                   FOOTER                  ******/
/*------------------------------------------------------*/

.footer {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	position: relative;
	width: 100%;
	background: #3586ff;
	height: 60vh;
	font-family: 'Sources Sans Pro', sans-serif;
}

.space-footer-1,
.space-footer-2,
.space-footer-3 {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
	width: 550px;
	gap: 10px;
}

.titre-footer {
	color: #fff;
}

.align-coordonnees {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.fa.fa-envelope {
	color: #fff;
}

.img-logo-footer {
	width: 150px;
	height: 70px;
}

/******* ICONES RÉSEAUX SOCIAUX *******/

main {
    display: grid;
    place-items: center;
    background: linear-gradient(to bottom left, #dad4ec), #f3e7e9;
}

.main .button {
    background-color: #fff;
    width: 56px;
    height: 56px;
    float: left;
    border-radius: 50px;
    margin: 0 12px;
    overflow: hidden;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease-in-out;
}

.main .button:hover {
    width: 160px;
}

.main .button:nth-child(1) {
    background-color: #4267b2;
    color: #fff;
}

.main .button:nth-child(2) {
    background-color: #0a66c2;
    color: #fff;
}

.main .button:nth-child(3) {
    background-color: #c4302b ;
    color: #fff;
}

.main .button:nth-child(4) {
    background: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    color: #fff;
}

.main .button:nth-child(5) {
    background-color: #25D366 ;
    color: #fcfcfc;
}

.button .s-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    text-align: center;
    transition: all .03s ease-in-out;
}

.button .s-icon i {
    font-size: 24px;
}

.button span {
    font-size: 18px;
    font-weight: 600;
}

.menu {
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 10px 0;
	flex-wrap: wrap;
	list-style: none;
}

.menu-link {
	font-size: 1.2rem;
	color: #fff;
	margin: 0 10px;
	display: inline-block;
	transition: 0.5s;
	text-decoration: none;
	font-weight: 400;
}

.menu-link:hover {
	color: #332c2c;
}

.footer p {
	color: #fff;
	margin: 15px 0 10px 0;
	font-size: 0.7rem;
	opacity: 0.75;
	font-weight: 300;
}

.footer span {
	color: #fff;
}

/******* VAGUES FOOTER *******/

.wave {
	position: absolute;
	top: -100px;
	left: 0;
	width: 100%;
	height: 100px;
	background: url(../img/img-site/wave.png);
	background-size: 1000px 100px;
}

.wave#wave1 {
	z-index: 1000;
	opacity: 1;
	bottom: 0;
	animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
	z-index: 999;
	opacity: 0.5;
	bottom: 10px;
	animation: animate 4s linear infinite !important;
}

.wave#wave3 {
	z-index: 1000;
	opacity: 0.2;
	bottom: 15px;
	animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
	z-index: 999;
	opacity: 0.7;
	bottom: 20px;
	animation: animate 3s linear infinite;
}

@keyframes animateWaves {
	0% {
    background-position-x: 1000px;
	}
	100% {
    background-positon-x: 0px;
	}
}

@keyframes animate {
	0% {
    background-position-x: -1000px;
	}
	100% {
    background-positon-x: 0px;
	}
}


/*--------------------------------------------------------------*/
/******* 		SECTION POLITIQUE CONFIDENTIALITÉ		  ******/
/*--------------------------------------------------------------*/

.confidentialite {
	height: 655vh;
}

.text-politique {
	margin-top: 40px;
	padding: 40px;
	background-color: #fafafa;
	width: 100%;
	text-align: justify;
}

h2 {
	text-align: center;
	font-size: 2.3rem;
	font-weight: 900;
}

h3 {
	font-size: 1.5rem;
	font-weight: 900;
}

.telecharger {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px;
}

.telecharger p {
	margin: 0;
	text-transform: uppercase;
	font-weight: 700;
}

.button-download {
	padding: 10px;
	text-transform: uppercase;
	border-radius: 5px;
	background: #34c3ee;
	color: #ffffff;
}

.button-download:hover {
	background: #ffffff;
	color: #34c3ee;
}

/*------------------------------------------------------*/
/****** 			MODALE MENTIONS LÉGALES		   ******/
/*------------------------------------------------------*/

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	opacity: 0;
    background-color: rgba(12, 12, 12, 0.7);
    transition: .8s;
	text-align: justify;
}

.modal-content {
	position: relative;
    background-color: #fafafa;
	border-radius: 5px;
	border: solid 1px #332c2c;
    padding: 15px;
    width: 800px;
	height: 700px;
}

.modal h3 {
	color: #0ebcf1;
	letter-spacing: 4px;
	margin-left: 100px;
}

.modal a {
    text-decoration: none;
    padding: 15px;
    color: black;
}

.icone-modale {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70px;
	height: 70px;
	color: #0ebcf1;
	margin-bottom: 10px;
	border: solid 2px #0ebcf1;
	border-radius: 50%;
}

.modal:target {
    visibility: visible;
    opacity: 1;
}

.modal-close {
    position: absolute;
    left: 45%;
    bottom: -5%;
    background-color: #0ebcf1;
	border-radius: 5px;
    color: #fff;
    text-decoration: none;
	font-weight: 900;
}

.modal-close:hover {
	background-color: #fafafa;
	color: #0ebcf1;
}

.a-modal {
	color: #ffffff;
	font-size: 1.2rem;
	margin-left: 10px;
}

.a-modal:hover {
	color: #000000;
}

.p-modal {
	font-size: .9rem;
}

.h4-modal {
	font-size: 1.2rem;
}

.strong-modal {
	color: #0ebcf1;
}

/*------------------------------------------------------*/
/****** 				PAGE CONTACT			   ******/
/*------------------------------------------------------*/

.contact {
	height: 100vh;
	margin-top: 90px;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,0.5)), url('/assets/img/img-site/contact.webp') center center fixed no-repeat;
	background-size: cover;
	color: #fff;
	padding: 20px;
}

.all-form {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
}

.titre-contact {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100px;
	background-color: transparent;
	backdrop-filter: blur(30px);
}

.titre-contact H1 {
	color: #fafafa;
	font-size: 3rem !important;
	text-transform: uppercase;
}

.text-contact {
	text-align: center;
	margin-top: 40px;
}

.strong-contact {
	color: #ff0000;
}

.col1 .col2 {
	display: flex;
	flex-direction: column;
}

.form {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 500px;
}

input, textarea {
	border-radius: 5px;
}

.button-contact {
	text-transform: uppercase;
	padding: 10px;
	border-radius: 5px;
	background-color: #0a66c2;
	color: #ffffff;
	font-weight: 700;
	letter-spacing: 4px;
	box-shadow: 5px 5px 5px #575656;
}

.button-contact:hover {
	background-color: #ffffff;
	color: #0a66c2;
}

.place-button {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}

/*------------------------------------------------------*/
/****** 				PAGE SERVICES			   ******/
/*------------------------------------------------------*/

.services {
	margin-top: 100px;
	height: 175vh;
}

.card-services {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 50px;
	margin-left: 80px;
	background-color: #fafafa;
	width: 90%;
	height: 300px;
	border-radius: 5px;
}

.text-services {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 800px;
	color: #332c2c;
	text-align: justify;
}

.image-services {
	width: 400px;
	border-radius: 5px;
}