/*------------------------------------------------------*/
/*******			 	CODE GÉNÉRAL 			   ******/
/*------------------------------------------------------*/

@import url('http://fonts.googleapis.com/css?family=Varela+Round');
@import url('http://fonts.googleapis.com/css?family=Lato');
@import url('http://fonts.googleapis.com/css?family=Allerta+Stencil');
@import url('http://fonts.googleapis.com/css?family=Raleway:300');
@import url('https://fonts.googleapis.com/css2? family= Source+Sans+Pro:wght@200 & display=swap');

body {
	margin: 0;
	padding: 0;
    background: linear-gradient(to right, #0ebcf1, #cceff0);
	font-family: 'Varela Round', sans-serif;
}

.header-titre {
	display: flex;
	justify-content: center;
	align-items: center;
	width: auto;
	height: 100px;
	background-color: #fafafa;
}

.header-titre h1 {
    font-family: 'Source Sans Pro', sans-serif;
	font-size: 2.5rem;
	font-weight: 600;
	color: #474141;
}

figure {
	background-color: #fafafa;
    border: thin #696969 solid;
    padding: 10px;
    max-width: 500px;
    margin: auto;
}

figcaption {
    background-color: #7a6969;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

a {
	text-decoration: none;
}

/*------------------------------------------------------*/
/****** 			PAGE CONSTRUCTION			   ******/
/*------------------------------------------------------*/

.body-construction {
	margin: 0;
	padding: 0;
	height: 100vh;
}

.split {
	height: 100%;
	width: 50%;
	position: fixed;
}

.left {
	left: 0;
	top: 0;
	width: 50%;
	height: auto;
}

.right {
	right: 0;
	top: 100px;
	width: 50%;
}

.centered {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.img-construction-left {
	background-repeat: no-repeat;
	background-size: contain;
	width: 100%;
	height: 100vh;
	position: relative;
}

.img-construction-right {
width: 150px;
height: 150px;
box-shadow: 0 10px 20px #00000030, 0 6px 6px #0000003b;
}

.h1-construction {
	font-family: 'Allerta Stencil', sans-serif;
	color: #0ebcf1;
	transform:scaleY(2);
	font-size: 4rem;
	font-weight: 700;
	text-shadow: 0 10px 20px #00000030, 0 6px 6px #0000003b;
}

.p-construction {
	color: #000;
	font-size: 1rem;
	font-weight: 900;
	letter-spacing: 10px;
	transform:scaleY(1.5);
	text-shadow: 0 10px 20px #00000030, 0 6px 6px #0000003b;
}

.joindre-construction {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #e1e1e1;
	width: 600px;
	height: 100px;
	box-shadow: 0 10px 20px #00000030, 0 6px 6px #0000003b;
}

.mailto {
	text-decoration: none;
	font-size: 1.5rem;
	color: #0ebcf1;
	text-shadow: 0 10px 20px #00000030, 0 6px 6px #0000003b;
}
.mailto:hover {
	color: #000;
	font-weight: 900;
}

.back-button {
	position: absolute;
	top: 45%;
	left: 30%;
	background-color: #0ebcf1;
	padding: 20px 30px;
	border: solid 2px #e1e1e1;
	border-radius: 15px;
	font-family: 'Allerta Stencil', sans-serif;
	font-size: 1.5rem;
	font-weight: 700;
	color: #fff;
}

.back-button:hover {
	background-color: #fff;
	color: #0ebcf1;
	box-shadow: 0 10px 20px #00000030, 0 6px 6px #0000003b;
}

.back-button:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

/*------------------------------------------------------*/
/*******				 HEADER 				   ******/
/*------------------------------------------------------*/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to right, #0ebcf1, #cceff0);
    padding: 10px 0;
    font-family: 'Allerta Stencil', sans-serif;
    z-index: 10;
}

.header-flag {
	width: 30px;
    height: 30px;
	margin-right: 60px;
}

.logo-asso {
    width: 60px;
    height: 60px;
    margin-right: 50px;
}

.logo-asso:hover {
    transform: scale(1.2);
    transition-duration: .5s;
	cursor: pointer;
}

.logo-page-courante {
	filter: opacity(1) drop-shadow(0 0 0 red); 
	width: 60px;
    height: 60px;
    margin-right: 50px;
}

.page-courante {
	color: #9e026f;
	font-size: 1.4rem;
	font-weight: 900;
}


nav {
    display: flex;
    justify-content: center;
}

.navbar-ul {
    background: linear-gradient(to right, #0ebcf1, #cceff0);
    box-shadow: 0 10px 20px #00000030, 0 6px 6px #0000003b;
    height: 70px;
    width: 100%;
    border-radius: 5px;
    text-transform: uppercase;
    list-style: none;
    text-shadow: 0 10px 20px #00000030, 0 6px 6px #0000003b;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    display: block;
    color: #474141;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 10px;
    transition: all 0.3s ease-in-out;
    border-radius: 30px;
	text-decoration: none;
}

nav ul li a:hover {
    background-color: #fafafa;
}

/*------------------------------------------------------*/
/****** 	   	CAROUSSEL & ENCARS-TITRE           ******/
/*------------------------------------------------------*/

.caroussel-titre {
    height: 700px;
	margin-top: 100px;
}

.content-caroussel {
    height: 500px;
    background: linear-gradient(to right, #0ebcf1, #cceff0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 20px 20px 20px;
    gap: 20px;
}

/***** CAROUSSEL *****/
.caroussel {
    width: 50%;
}

.carousel-control-next {
    background-color: #c2bfbf;
    opacity: 0.2;
    border-radius: 30px 0 0 30px;
}

.carousel-control-prev {
    background-color: #c2bfbf;
    opacity: 0.1;
    border-radius: 0 30px 30px 0;
}

.carousel .carousel-indicators .active {
    background-color: #000;
}

/***** ENCARS-TITRE *****/
.encars-titre {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 50%;
	background-color: #fafafa;
    padding: 8px;
}

.img-debre {
	width: 120px;
}

.main-text {
    color: #474141;
    font-size: 2rem;
}

.titreh5 {
    color: #bac4ca;
    font-size: .8rem;
}

.encars-titre p {
    color: #474141;
    font-size: 1.2rem;
	text-align: justify;
}

/*------------------------------------------------------*/
/*******				 NOUVELLES				   ******/
/*------------------------------------------------------*/

.news {
    height: 110vh;
}

/***** BANDEAU TITRE NOUVELLES  ET TÉMOIGNAGES *****/
.header-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 2rem;
	font-weight: bold;
    background-color: #fafafa;
    color: #0ebcf1;
    height: 100px;
	padding: 8px;
}

/***** SECTION CARTES NEWS *****/
.all-card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 80px;
}

.content-card {
    width: 480px;
    height: 600px;
}

/***** IMAGES CARTES NEWS *****/
.card-image {
    display: flex;
    justify-content: center;
    height: 300px;
    background-color: #fafafa;
}

.img-news {
    width: 100%;
    height: 100%;
}

/***** CONTENT TEXTE CARTES NEWS *****/
.card-news {
    height: 300px;
    background-color: #fafafa;
    padding: 20px;
}

/***** TITRE CARTES NEWS *****/
.card-news h4 {
    font-weight: bold;
    padding-top: 10px;
    font-size: 22px !important;
}

/***** TEXTE CARTES NEWS *****/
.card-news p {
    padding: 22px 0 27px;
}

/***** BOUTON CARTES NEWS *****/
.card-news .button-card {
    border: 1px solid #2f7474;
    background: #2f7474;
    padding: 20px 22px;
    line-height: 10px;
    color: #fafafa;
    text-transform: uppercase;
    float: left;
    cursor: pointer;
}

.button-card:hover {
	background: none;
	border: 1px solid #2f7474;
	color: #2f7474;
}

/***** DATE CARTES *****/
.date {
	position: relative;
	float: left;
	padding-left: 10px;
	padding-top: 10px;
}

.date .fa {
	font-size: 20px;
	line-height: 30px;
	position: relative;
	float: left;
	padding-left: 30px;
    color: #332c2c;
}

.date span {
	font-size: 14px;
	line-height: 30px;
	color: #bac4ca;
	position: relative;
	float: left;
	padding-left: 8px;
}

/*------------------------------------------------------*/
/*******				 TÉMOIGNAGES			   ******/
/*------------------------------------------------------*/

.temoignages {
    height: 160vh;
}

.content-temoignages {
	width: 900px;
	height: auto;
	background-color: #fafafa;
	border-radius: 5px;
	border: solid 2px #ff0000;
	padding: 20px;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 60px;
	text-align: center;
	box-shadow: 0 0 3px #00000066, 0 20px 10px #000000b3;
}

.content-temoignages h4 {
	color: #0ebcf1;
	text-shadow: 0 10px 20px #00000030, 0 6px 6px #0000003b;
}

/******* CONTENT CARD TEMOIN *******/

.content-card-temoin {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	gap: 40px;
}

.img-temoin {
    max-width: 478px;
    max-height: 250px;
}

.content-card-temoin-2 {
	margin-right: 1055px;
	margin-top: 20px;
}

/*------------------------------------------------------*/
/*******				 CHIFFRES				   ******/
/*------------------------------------------------------*/

.section-chiffres {
    height: 85vh;
}

/******* ALLIGNEMENT CARTES CHIFFRES ******/
.content-all-card {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	gap: 30px;
	margin-top: 60px;
}

/******* CARTES CHIFFRES ******/
.icone-chiffres {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fafafa;
	box-shadow: 0 10px 20px #00000030, 0 6px 6px #0000003b;
	color: #0ebcf1;
	border-radius: 100%;
	border: solid 1px #0ebcf1;
	height: 3rem;
	width: 3rem;
	min-height: 3.5rem;
	min-width: 3.5rem;
	margin: -20px;
	text-decoration: none;
}

.card-aligne-chiffres {
	display: flex;
	align-items: center;
	margin-right: 2rem;
	border: 3px solid #0ebcf1;
	border-radius: 2rem;
	width: 550px;
	height: 80px;
	background-color: #fafafa;
}

.card-aligne-chiffres:hover {
	background-color: #d6d6d6;
	box-shadow: 10px 10px 10px #7a6969;
}

.card-chiffres-text {
	padding-left: 30px;
	color: #474141;
	font-weight: 900;
	width: 140px;
}

.vertical-line {
	border-left: 2px solid #0ebcf1;
	display: inline-block;
	height: 50px;
	margin: 0 20px;
}

.card-chiffres-chiffres {
	padding-left: 5px;
	font-size: 1.2rem;
	font-weight: 600;
	color: #474141;
	width: 210px;
}

.bouton-chiffres {
background-color: #d6d6d6;
color: #000;
border-radius: 20px;
border: 0;
letter-spacing: -1px;
margin-left: 45px;
}

.bouton-chiffres:hover {
	background-color: #fff;
	color: #0ebcf1;
	border:  solid 2px #0ebcf1;
	box-shadow: 5px 5px 5px #bebebe;
}

.modal2 {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    position: absolute;
    top: 400%;
    bottom: 0;
    left: 0;
    right: 0;
	opacity: 0;
    background-color: rgba(12, 12, 12, 0.7);
    transition: .8s;
	text-align: justify;
}

.modal2 h3 {
	color: #0ebcf1;
	letter-spacing: 4px;
	margin-left: 100px;
}

.modal2 a {
    text-decoration: none;
    padding: 15px;
    color: black;
}

.icone-modale {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70px;
	height: 70px;
	color: #0ebcf1;
	margin-bottom: 10px;
	border: solid 2px #0ebcf1;
	border-radius: 50%;
}

.modal2:target {
    visibility: visible;
    opacity: 1;
}

.modal2-content {
	position: relative;
    background-color: #fafafa;
	border-radius: 10px;
	border: solid 1px #332c2c;
    padding: 15px;
    width: 600px;
	height: 420px;
    max-width: 90%;
}

.modal2-close {
    position: absolute;
    left: 45%;
    bottom: -10%;
    background-color: #0ebcf1;
	border-radius: 5px;
    color: #fff;
    text-decoration: none;
	font-weight: 900;
}

.modal2-close:hover {
	background-color: #fafafa;
	color: #0ebcf1;
}

/*------------------------------------------------------*/
/*******                   FOOTER                  ******/
/*------------------------------------------------------*/

.footer {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	position: relative;
	width: 100%;
	background: #3586ff;
	height: 60vh;
	font-family: 'Sources Sans Pro', sans-serif;
}

.space-footer-1,
.space-footer-2,
.space-footer-3 {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
	width: 550px;
	gap: 10px;
}

.space-footer-2 {
	border-left: 2px solid #0041a1;
	border-right: 2px solid #0041a1;
}

.titre-footer {
	color: #fff;
}

.align-coordonnees {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.fa.fa-envelope {
	color: #fff;
}

.img-logo-footer {
	width: 150px;
	height: 70px;
}

/******* ICONES RÉSEAUX SOCIAUX *******/

main {
    display: grid;
    place-items: center;
    background: linear-gradient(to bottom left, #dad4ec), #f3e7e9;
}

.main .button {
    background-color: #fff;
    width: 56px;
    height: 56px;
    float: left;
    border-radius: 50px;
    margin: 0 12px;
    overflow: hidden;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease-in-out;
}

.main .button:hover {
    width: 160px;
}

.main .button:nth-child(1) {
    background-color: #4267b2;
    color: #fff;
}

.main .button:nth-child(2) {
    background-color: #0a66c2;
    color: #fff;
}

.main .button:nth-child(3) {
    background-color: #c4302b ;
    color: #fff;
}

.main .button:nth-child(4) {
    background: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    color: #fff;
}

.main .button:nth-child(5) {
    background-color: #25D366 ;
    color: #fcfcfc;
}

.button .s-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    text-align: center;
    transition: all .03s ease-in-out;
}

.button .s-icon i {
    font-size: 24px;
}

.button span {
    font-size: 18px;
    font-weight: 600;
}

.menu {
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 10px 0;
	flex-wrap: wrap;
	list-style: none;
}

.menu-link {
	font-size: 1.2rem;
	color: #fff;
	margin: 0 10px;
	display: inline-block;
	transition: 0.5s;
	text-decoration: none;
	font-weight: 400;
}

.menu-link:hover {
	color: #332c2c;
}

.footer p {
	color: #fff;
	margin: 15px 0 10px 0;
	font-size: 0.7rem;
	opacity: 0.75;
	font-weight: 300;
}

.footer span {
	color: #fff;
}

.wave {
	position: absolute;
	top: -100px;
	left: 0;
	width: 100%;
	height: 100px;
	background: url(../img/img-site/wave.png);
	background-size: 1000px 100px;
}

.wave#wave1 {
	z-index: 1000;
	opacity: 1;
	bottom: 0;
	animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
	z-index: 999;
	opacity: 0.5;
	bottom: 10px;
	animation: animate 4s linear infinite !important;
}

.wave#wave3 {
	z-index: 1000;
	opacity: 0.2;
	bottom: 15px;
	animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
	z-index: 999;
	opacity: 0.7;
	bottom: 20px;
	animation: animate 3s linear infinite;
}

@keyframes animateWaves {
	0% {
    background-position-x: 1000px;
	}
	100% {
    background-positon-x: 0px;
	}
}

@keyframes animate {
	0% {
    background-position-x: -1000px;
	}
	100% {
    background-positon-x: 0px;
	}
}

/*------------------------------------------------------*/
/******			 MODALE MENTIONS LÉGALES		   ******/
/*------------------------------------------------------*/

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	opacity: 0;
    background-color: rgba(12, 12, 12, 0.7);
    transition: .8s;
	text-align: justify;
}

.modal-content {
	position: relative;
    background-color: #fafafa;
	border-radius: 5px;
	border: solid 1px #332c2c;
    padding: 15px;
    width: 800px;
	height: 700px;
    max-width: 90%;
}

.modal h3 {
	color: #0ebcf1;
	letter-spacing: 4px;
	margin-left: 100px;
}

.modal a {
    text-decoration: none;
    padding: 15px;
    color: black;
}

.icone-modale {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70px;
	height: 70px;
	color: #0ebcf1;
	margin-bottom: 10px;
	border: solid 2px #0ebcf1;
	border-radius: 50%;
}

.modal:target {
    visibility: visible;
    opacity: 1;
}

.modal-close {
    position: absolute;
    left: 45%;
    bottom: -5%;
    background-color: #0ebcf1;
	border-radius: 5px;
    color: #fff;
    text-decoration: none;
	font-weight: 900;
}

.modal-close:hover {
	background-color: #fafafa;
	color: #0ebcf1;
}

.a-modal {
	color: #ffffff;
	font-size: 1.2rem;
	margin-left: 10px;
}

.a-modal:hover {
	color: #000000;
}

.p-modal {
	font-size: .9rem;
}

.h4-modal {
	font-size: 1.2rem;
}

.strong-modal {
	color: #0ebcf1;
}

/*------------------------------------------------------*/
/******					 PAGE TEAM 				   ******/
/*------------------------------------------------------*/

/******* SECTION TROMBINOSCOPE ******/
.trombi {
	height: 170vh;
	margin-top: 130px;
}

.container-trombi {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	gap: 30px;
	margin: 35px;
}

.content-card-trombi {
	width: 350px;
}

.content-image {
	height: 380px;
	background-color: #fafafa;
}

.content-news {
	height: 150px;
    background-color: #fafafa;
	padding: 10px;
}

.content-news h6 {
	font-weight: 700;
	padding-top: 7px;
}

.content-news p {
	padding: 10px;
}

/******* BOUTON CARD TEAM ******/

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300");

@-webkit-keyframes pulse {
	from {
	box-shadow: 0 0 0 0 rgba(3, 149, 229, 0.4);
	}
	to {
	box-shadow: 0 0 0 45px rgba(3, 149, 229, 0);
	}
}

@keyframes pulse {
	from {
	box-shadow: 0 0 0 0 rgba(3, 149, 229, 0.4);
	}
	to {
	box-shadow: 0 0 0 45px rgba(3, 149, 229, 0);
	}
}
.highlight {
	position: relative;
	left: 20%;
	bottom: 10%;
	width: 200px;
	height: 60px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	background-color: #fafafa;
	line-height: 60px;
	color: #000;
	text-align: center;
	font-size: 15px;
	letter-spacing: 3px;
	user-select: none;
}
.highlight:before, .highlight:after {
	content: "";
	width: 0%;
	height: 0%;
	position: absolute;
	visibility: hidden;
	border-radius: 2px;
}
.highlight:before {
	border-top: 1px solid #0395E5;
	border-right: 1px solid #0395E5;
	transition: width 0.1s ease 0.3s, height 0.1s ease 0.2s, visibility 0s 0.4s;
	top: 0;
	left: 0;
}
.highlight:after {
	border-left: 1px solid #0395E5;
	border-bottom: 1px solid #0395E5;
	bottom: 0;
	right: 0;
	transition: width 0.1s ease 0.1s, height 0.1s ease, visibility 0s 0.2s;
}
.highlight:hover {
	animation: pulse 1s ease-out 0.4s;
	color: #0395E5;
}
.highlight:hover:before, .highlight:hover:after {
	width: 100%;
	height: 100%;
	visibility: visible;
}
.highlight:hover:before {
	transition: width 0.1s ease, height 0.1s ease 0.1s;
}
.highlight:hover:after {
	transition: width 0.1s ease 0.2s, height 0.1s ease 0.3s, visibility 0s 0.2s;
}

/******* MODALE TEAM *******/

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	opacity: 0;
    background-color: rgba(12, 12, 12, 0.7);
    transition: .8s;
	text-align: justify;
}

.modal h3 {
	color: #0ebcf1;
	letter-spacing: 4px;
	margin-left: 100px;
}

.modal a {
    text-decoration: none;
    padding: 15px;
    color: black;
}

.img-modal {
	width: 70px;
	height: 70px;
	margin-bottom: 10px;
}

.blink {
	background-color: yellow;
	text-decoration: none;
	color: #000;
	text-decoration: blink;
}

.modal:target {
    visibility: visible;
    opacity: 1;
}

.modal-content {
	position: relative;
    background-color: #fafafa;
    padding: 15px;
    width: 700px;
	height: 700px;
}

.modal-close {
    position: absolute;
    left: 45%;
    bottom: -5%;
    background-color: #0ebcf1;
	border-radius: 5px;
    color: #fff;
    text-decoration: none;
	font-weight: 900;
}

.modal-close:hover {
	background-color: #fafafa;
	color: #0ebcf1;
}

/******* REJOINDRE LA TEAM *******/

.team {
	height: 80vh;
}

.align-team {
	display: flex;
	justify-content: center;
	align-items: center;
}

.rejoins-team {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 60px;
	background-color: #fafafa;
	text-align: justify;
	width: 600px;
	height: 250px;
	padding: 15px;
	box-shadow: 0 10px 20px #00000030, 0 6px 6px #0000003b;
}

/*------------------------------------------------------*/
/******					 PAGE PROJETS 			   ******/
/*------------------------------------------------------*/

.projets {
	height: 220vh;
	margin-top: 100px;
}

.content-projet {
	margin-bottom: 40px;
}

.card-projet {
	display: flex;
	justify-content: center;
	gap: 20px;
	padding: 10px;
	width: 1100px;
	height: 565px;
	background-color: #fafafa;
	margin: 40px 20px 40px 20px;
}

.text-projet {
	text-align: justify;
}

/******* FIGCATION IMG *******/

.img-projet1 {
    max-width: 480px;
    height: 500px;
}

/******* PROJETS RÉALISÉS *******/

.content-projet-2 {
	margin: 20px;
}

/*------------------------------------------------------*/
/****** 				PAGE BILANS				   ******/
/*------------------------------------------------------*/

.bilan {
	height: 200vh;
	margin-top: 100px;
}

.back-button-bilan {
	position: absolute;
	left: 40%;
	bottom: 2%;
	background-color: #0ebcf1;
	padding: 20px 30px;
	border: solid 2px #e1e1e1;
	border-radius: 15px;
	font-family: 'Allerta Stencil', sans-serif;
	font-size: 1.5rem;
	font-weight: 700;
	color: #fff;
}

.back-button-bilan:hover {
	background-color: #fff;
	color: #0ebcf1;
	box-shadow: 0 10px 20px #00000030, 0 6px 6px #0000003b;
}

.back-button-bilan:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.h4-bilan {
	margin-top: 20px;
	color: #fff;
	text-shadow: 0 10px 20px #00000030, 0 6px 6px #0000003b;
}

.all-content-bilan-1 {
	display: flex;
	justify-content: start;
	align-items: end;
	margin: 20px 0 0 20px;
}

.content-card-bilan {
	padding: 15px;
	background-color: #fafafa;
	width: 400px;
	box-shadow: 30px 30px 30px #575656;
}

.p-bilan {
	text-align: justify;
}
